@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {

	padding: 0;
	margin: 0;
	font-family: montserrat;
}

#page-top {
	background-color: black;
	width: ;
	height: auto;

}

@media screen and (max-width: 475px) {
	#page-top {
		width: 100%;
	}
}


.container {
	width: 1130px;
	margin: auto;
}

@media screen and (max-width: 475px) {
	.container {
		width: 100%;
	}
}



.rectangle {
	position: absolute;
	width: 100%;
	height: 34px;
	left: 0px;
	top: 0px;
	background: #884F27;
}

@media screen and (max-width: 475px) {
	.rectangle {
		position: absolute;
		width: 100%;
		height: 35px;
		left: 1px;
		top: 0px;

		background: #884F27;
	}
}

.location {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 200px;
	top: 5px;

}

@media screen and (max-width: 475px) {

	.location {
		width: 24px;
		left: 10px;
	}
}


.text-location {
	position: absolute;
	width: 206px;
	height: 21px;
	left: 230px;
	top: 5px;
	font-size: 12px;
	line-height: 21px;
	color: #000000;
}

@media screen and (max-width: 475px) {
	.text-location {
		display: none;
	}
}

.phone {
	position: absolute;
	width: 21px;
	height: 21px;
	left: 600px;
	top: 6px;
}

@media screen and (max-width: 475px) {
	.phone {
		width: 24px;
		left: 50%;
	}
}

.text-phone {
	position: absolute;
	width: 206px;
	height: 21px;
	left: 630px;
	top: 5px;
	font-size: 12px;
	line-height: 21px;
	color: #000000;
}

@media screen and (max-width: 475px) {
	.text-phone {
		display: none;
	}
}


.instagram {
	position: absolute;
	width: 23px;
	height: 23px;
	left: 930px;
	top: 6px;

}

@media screen and (max-width: 475px) {
	.instagram {
		width: 24px;
		left: 90%;
	}
}

.text-instagram {
	position: absolute;
	width: 67px;
	height: 21px;
	left: 970px;
	top: 6px;
	font-size: 12px;
	line-height: 21px;
	color: #000000;

}

@media screen and (max-width: 475px) {
	.text-instagram {
		display: none;
	}
}


.navbar {
	display: block;
	top: 100px;
	left: 0;
	color: white;
}

.Home {
	color: white;
	position: absolute;
	width: 50px;
	height: 14.75px;
	left: 800px;
	top: 59px;
	font-weight: 600;
	font-size: 14px;

}

@media screen and (max-width: 475px) {
	.Home {
		left: 30px;
		font-size: 10px;
		top: 40px;
	}
}


.About {
	color: white;
	position: absolute;
	width: 54px;
	height: 28.19px;
	left: 900px;
	top: 59px;
	font-weight: 600;
	font-size: 14px;

}

@media screen and (max-width: 475px) {
	.About {
		left: 55%;
		font-size: 10px;
		top: 40px;
	}
}


.Room {
	color: white;
	position: absolute;
	width: 71px;
	height: 28.19px;
	left: 1020px;
	top: 59px;
	font-weight: 600;
	font-size: 14px;

}

@media screen and (max-width: 475px) {
	.Room {
		left: 80%;
		font-size: 10px;
		top: 40px;
	}
}

.Contact {
	color: white;
	position: absolute;
	width: 71px;
	height: 28.19px;
	left: 1120px;
	top: 59px;
	font-weight: 600;
	font-size: 14px;

}

@media screen and (max-width: 475px) {
	.Contact {
		left: 110px;
		font-size: 10px;
		top: 40px;
	}
}


button.btn-secondary {
	position: absolute;
	width: 111px;
	height: 33.3px;
	left: 1200px;
	top: 50px;
	border: none;
	font-weight: 600;
	color: white;
	background: #EB8034;
	border-radius: 40px;
}

#home {
	/*display: grid;
	grid-template-columns: 1.4fr 1fr;
	grid-template-rows: 1fr;*/
}

.logo {
	position: absolute;
	font-size: 60px;
	color: #EB8034;
	top: 220px;
	left: 60px;
}

@media screen and (max-width: 475px) {
	.logo {
		font-size: 30px;
		top: 100px;
		left: 45px;
	}
}

.h4 {
	position: absolute;
	font-size: 19px;
	color: white;
	width: 700px;
	margin: 25px;
	left: 40px;
	top: 270px;
}

@media screen and (max-width: 475px) {
	.h4 {
		width: 250px;
		font-size: 9px;
		top: 120px;
		left: 20px;
	}
}


/* .jumbotron {
	background-color: transparent;
	background-size: cover;
	height: 770px;
	margin-top: 50px;
} */

.text-section {
	/*	position: absolute;
	padding-top: 20px;
	top: 20px;*/
}

p.large-tittle {
	color: #FFFF;
}

/*.img-logo{
position: absolute;
width: 430px;
height: 314px;
left: 136px;
top: 109px;
}
*/

/*DISKON PAGE*/

.img-background-1 {
	position: absolute;
	width: 1439px;
	height: 900px;
	transition: tranform .2s;
	left: -90px;
	top: 34px;
	opacity: 0.7;

}

@media screen and (max-width: 475px) {
	.img-background-1 {
		width: 314px;
		height: 200px;
		left: 30px;
		top: 60px;
		border-radius: 10px;
	}
}




.img-section {
	position: absolute;
	width: 100%;
	height: 1444.35px;
	left: -327px;
	top: 496px;
}

.rectangle-diskon {
	position: absolute;
	width: 1237px;
	height: 336px;
	left: 60px;
	top: 707px;

	background: #FFFBF8;
	box-shadow: 2px -4px 4px rgba(0, 0, 0, 0.25), -2px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
}

@media screen and (max-width: 475px) {
	.rectangle-diskon {
		width: 240px;
		height: 72px;
		left: 65px;
		top: 230px;
		border-radius: 10px;


	}
}


.diskon {

	position: absolute;
	z-index: 999;
	width: 352px;
	height: 299px;
	left: 80px;
	top: 725px;

	background: #EB8034;
	border-radius: 30px;
}

@media screen and (max-width: 475px) {
	.diskon {
		width: 55px;
		height: 50px;
		top: 240px;
		border-radius: 10px;
		left: 70px;
	}
}

.text-diskon {
	position: absolute;
	width: 275px;
	height: 125px;
	left: 80px;
	top: 50px;

	font-family: Kanit;
	font-style: normal;
	font-weight: 900;
	font-size: 100px;
	line-height: 179px;

	color: #FFFFFF;
}

@media screen and (max-width: 475px) {
	.text-diskon {
		font-size: 13px;
		top: -65px;
		left: 15px;
	}
}

.limit {
	position: absolute;
	width: 202px;
	height: 36px;
	left: 498px;
	top: 30px;
	font-weight: bold;
	font-size: 20px;
	color: #B90404;
}

@media screen and (max-width: 475px) {
	.limit {
		font-size: 11px;
		top: 10px;
		left: 75px;
	}
}

.limit-1 {
	position: absolute;
	width: 259px;
	height: 100px;
	left: 554px;
	top: 780px;

	font-family: Kanit;
	font-style: normal;
	font-weight: bold;
	font-size: 90px;
	line-height: 96px;
	z-index: 999;
	color: #EB8034;
}

@media screen and (max-width: 475px) {
	.limited {
		display: none;
	}
}



.limit-2 {
	position: absolute;
	width: 45px;
	height: 36px;
	left: 554px;
	top: 880px;


	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height */


	color: #242222;
	z-index: 999;
}

@media screen and (max-width: 475px) {
	.limit-2 {
		display: none;
	}
}

.limit-3 {
	position: absolute;
	width: 45px;
	height: 36px;
	left: 650px;
	top: 880px;


	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height */


	color: #242222;
	z-index: 999;
}



.limit-4 {
	position: absolute;
	width: 45px;
	height: 36px;
	left: 750px;
	top: 880px;


	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height */


	color: #242222;
	z-index: 999;
}


.diskon-img {
	position: absolute;
	width: 299px;
	height: 299px;
	left: 958px;
	top: 725px;
	z-index: 999;
}

@media screen and (max-width: 475px) {
	.diskon-img {
		width: 58px;
		height: 58px;
		left: 240px;
		top: 245px;
	}
}

.btn-diskon {
	position: absolute;
	width: 147.53px;
	height: 64px;
	left: 554px;
	top: 950px;

	background: transparent;
	border: 1px solid #EB8034;
	box-sizing: border-box;
	border-radius: 10px;
	z-index: 999;

	font-weight: bold;
	font-size: 24px;
	line-height: 36px;

	color: #EB8034;
}

@media screen and (max-width: 475px) {
	.btn-diskon {
		width: 70px;
		height: 25px;
		border-radius: 10px;
		font-size: 10px;
		left: 150px;
		top: 260px;
		text-align: center;
		line-height: 0px;

	}
}



.diskon-1 {
	position: absolute;
	width: 291px;
	height: 224px;
	left: 150px;
	top: 350px;

	background: #FFFBF8;
	box-shadow: 2px -4px 4px rgba(0, 0, 0, 0.25), -2px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	z-index: 999;
}

@media screen and (max-width: 475px) {
	.diskon-1 {
		display: none
	}
}



.diskon-2 {
	position: absolute;
	width: 291px;
	height: 224px;
	left: 500px;
	top: 350px;

	background: #FFFBF8;
	box-shadow: 2px -4px 4px rgba(0, 0, 0, 0.25), -2px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	z-index: 999;
}

@media screen and (max-width: 475px) {
	.diskon-2 {
		display: none;
	}
}

.diskon-3 {
	position: absolute;
	width: 291px;
	height: 224px;
	left: 850px;
	top: 350px;

	background: #FFFBF8;
	box-shadow: 2px -4px 4px rgba(0, 0, 0, 0.25), -2px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	z-index: 999;
}

@media screen and (max-width: 475px) {
	.diskon-3 {
		display: none;
	}
}

.img-diskon-1 {
	position: absolute;
	width: 190px;
	height: 149px;
	left: 50px;
	top: 20px;

}

@media screen and (max-width: 475px) {
	.img-diskon-1 {
		display: none;
	}
}

.img-diskon-2 {
	position: absolute;
	width: 190px;
	height: 149px;
	left: 50px;
	top: 20px;

}

@media screen and (max-width: 475px) {
	.img-diskon-2 {
		display: none;
	}
}

.img-diskon-3 {
	position: absolute;
	width: 190px;
	height: 149px;
	left: 50px;
	top: 20px;

}

@media screen and (max-width: 475px) {
	.img-diskon-3 {
		display: none;
	}
}

/*.card-diskon-2{
	position: absolute;
width: 345px;
height: 552px;
left: 548px;
top: 692px;
border-radius: 20px;
background: #884F27;
box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.), inset 3px 4px 2px rgba(0, 0, 0, 0.3);
}

.card-diskon-3{
	position: absolute;
width: 345px;
height: 552px;
left: 973px;
top: 692px;
border-radius: 20px;
background: #884F27;
box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.), inset 3px 4px 2px rgba(0, 0, 0, 0.3);
}

.img-cappucinos{
	position: absolute;
width: 289px;
height: 231px;
left: 30px;
top: 200px;

}

.text-diskon-1{
	color: white;
	position: absolute;
width: 132px;
height: 36px;
left: 120px;
top: 115px;
font-weight: 600;
font-size: 20px;

}

.text-diskon{
	color: white;
	position: absolute;
width: 132px;
height: 36px;
left: 20px;
top: 10px;
font-weight:;
color:  #FEC705;
}

.img-diskon-1{
	position: absolute;
width: 60px;
height: 36px;
left: 20px;
top: 500px;


}

.btn-visit{
color: white;
font-size: 20px;
font-weight: 600;
position: absolute;
width: 130px;
height: 82px;
left: 200px;
top: 450px;
border: none;
background: #EB8034;
border-radius: 10px;
}

.img-coffee{
	position: absolute;
width: 299px;
height: 299px;
left: 30px;
top: 180px;

}

.text-diskon-2{
	color: white;
	position: absolute;
width: 132px;
height: 36px;
left: 145px;
top: 115px;
font-weight: 600;
font-size: 20px;

}

.text-diskon-3{
	color: white;
	position: absolute;
width: 132px;
height: 36px;
left: 20px;
top: 10px;
font-weight: 700;
color:  #FEC705;
}

.btn-visit-3{
color: white;
font-size: 20px;
font-weight: 600;
position: absolute;
width: 130px;
height: 82px;
left: 200px;
top: 450px;
border: none;
background: #EB8034;
border-radius: 10px;
}

.img-coffeemix{
	position: absolute;
width: 378px;
height: 296px;
left: -20px;
top: 160px;

}
.text-diskon-4{
	color: white;
	position: absolute;
width: 132px;
height: 36px;
left: 120px;
top: 115px;
font-weight: 600;
font-size: 20px;
}

.text-diskon-5{
	color: white;
	position: absolute;
width: 132px;
height: 36px;
left: 20px;
top: 10px;
font-weight: 700;
color:  #FEC705;
}*/

/*ROOM SECTION*/
#Room {
	width: 100%;
	height: 100vh;
}

@media screen and (max-width: 475px) {
	#Room {
		width: 100%;
	}
}

.section-room {
	position: absolute;
	width: auto;
	margin: 0;
	height: 100px;
	left: 0px;
	top: 1387px;
	background: #242222;
}

@media screen and (max-width: 475px) {
	.section-room {}
}

.img-room {
	position: absolute;
	background-attachment: fixed;
	background-size: 100% 100%;
	width: auto;
	height: 716px;
	left: 35px;
	top: 80px;
	opacity: 0.5;

}

@media screen and (max-width: 475px) {
	.img-room {
		width: 380px;
		height: 204px;
		top: -1050px;
		left: 0px;
	}
}


.rectangle-room {
	display: block;
	position: absolute;
	width: 560px;
	height: 258px;
	left: 100px;
	top: -40px;

	background: #EB8034;
	box-shadow: 4px 7px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

}

@media screen and (max-width: 475px) {
	.rectangle-room {
		display: none;
	}
}

.text-room {
	position: absolute;
	width: 548px;
	height: 366px;
	left: 160px;
	top: -120px;

}

@media screen and (max-width: 475px) {
	.text-room {
		display: none;
		width: 122px;
		height: 77px;
		left: 0;
		top: -30px;
		border-radius: 10px;

	}
}

.text-room-1 {
	position: absolute;
	width: 497px;
	height: 81px;
	left: 20px;
	top: 120px;
	font-size: 15px;
	line-height: 27px;
	text-decoration: none;

	color: #FFFFFF;
}

@media screen and (max-width: 475px) {
	.text-room-1 {
		display: none;
		width: 98px;
		height: 25px;
		font-size: 5px;
		line-height: 5px;
		position: absolute;
		top: 18px;
		left: 10px;
		font-weight: 50;
	}
}

#Menu {
	width: 100%;
	margin: auto;
}

.img-menu {
	position: absolute;
	width: 1036px;
	height: 988px;
	left: 181px;
	top: 2400px;

}

@media screen and (max-width: 475px) {
	.img-menu {
		width: 300px;
		height: 300px;
		top: 700px;
		left: 10%;
	}
}

.menu {
	position: absolute;
	width: 394.14px;
	height: 181.58px;
	left: 600px;
	top: 2330px;

	background: #EB8034;
	box-shadow: 4px 7px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 475px) {
	.menu {
		width: 120.87px;
		height: 38.93px;
		top: 630px;
	}
}

@media screen and (max-width: 475px) {
	.menu {
		width: 95%;
		left: 10px;
	}
}

.img-logo-menu {
	position: absolute;
	width: auto;
	height: 200px;
	left: 20px;
	top: -80px;
}

#Footer {
	width: 1130px;
	margin: auto;
}

.card-footer {
	position: absolute;
	width: 225px;
	height: 308px;
	left: 120px;
	top: 3523px;
	border-radius: 10px;
	background: #FFFBF8;
}

@media screen and (max-width: 475px) {
	.card-footer {
		width: 225px;
		height: 308px;
		left: 60px;
		top: 1050px;

	}
}

.img-coffee-1 {
	position: absolute;
	left: 45px;
	top: 20px;
}

.button-footer {
	position: absolute;
	width: 79.27px;
	height: 50px;
	left: 130px;
	top: 250px;
	border: none;
	background: #EB8034;
	border-radius: 10px;

	font-size: 14px;
	line-height: 21px;
	font-weight: 600;
	color: #E5E5E5;

}

.card-footer-2 {
	position: absolute;
	width: 225px;
	height: 308px;
	left: 300px;
	top: 0px;
	background: #FFFBF8;
	border-radius: 10px;
}

@media screen and (max-width: 475px) {
	.card-footer-2 {
		display: none;
	}
}

.img-coffee-2 {
	position: absolute;
	left: 45px;
	top: 30px;
}

.button-footer-1 {
	position: absolute;
	width: 79.27px;
	height: 50px;
	left: 130px;
	top: 250px;
	border: none;
	background: #EB8034;
	border-radius: 10px;

	font-size: 14px;
	line-height: 21px;
	font-weight: 600;
	color: #E5E5E5;

}

.card-footer-3 {
	position: absolute;
	width: 225px;
	height: 308px;
	left: 600px;
	top: 0px;

	background: #FFFBF8;
	border-radius: 10px;
}

@media screen and (max-width: 475px) {
	.card-footer-3 {
		display: none;
	}
}

.img-coffee-3 {
	position: absolute;
	left: 30px;
	top: 5px;
}

.button-footer-2 {
	position: absolute;
	width: 79.27px;
	height: 50px;
	left: 130px;
	top: 250px;
	border: none;
	background: #EB8034;
	border-radius: 10px;

	font-size: 14px;
	line-height: 21px;
	font-weight: 600;
	color: #E5E5E5;

}

.card-footer-4 {
	position: absolute;
	width: 225px;
	height: 308px;
	left: 890px;
	top: 0px;

	background: #FFFBF8;
	border-radius: 10px;
}

@media screen and (max-width: 475px) {
	.card-footer-4 {
		display: none;
	}
}

.img-coffee-4 {
	position: absolute;
	left: 13px;
	top: 15px;
}

.button-footer-3 {
	position: absolute;
	width: 79.27px;
	height: 50px;
	left: 130px;
	top: 250px;
	border: none;
	background: #EB8034;
	border-radius: 10px;

	font-size: 14px;
	line-height: 21px;
	font-weight: 600;
	color: #E5E5E5;

}

.footer-5 {
	position: absolute;
	width: 1379px;
	height: 300px;
	left: -150px;
	top: 400px;

	background: #EB8034;
}

@media screen and (max-width: 475px) {
	.footer-5 {
		left: -80px;
		width: 400px;
		height: 450px;
	}
}

.img-tio {
	position: absolute;
	width: 209px;
	height: 163px;
	left: 310px;
	top: 20px;
	opacity: 0.9;

}

@media screen and (max-width: 475px) {
	.img-tio {
		left: 25%;
		width: 61.71;
		left: 48;
	}
}

.text-tio {
	position: absolute;
	color: white;
	top: 190px;
	left: 250px;
}

@media screen and (max-width: 475px) {
	.text-tio {
		left: 90px;
		font-size: 13px;
	}
}

.img-rian {
	position: absolute;
	width: 209px;
	height: 163px;
	left: 900px;
	top: 20px;
	opacity: 0.9;

}

@media screen and (max-width: 475px) {
	.img-rian {
		top: 250px;
		left: 25%;
	}
}

.text-rian {
	position: absolute;
	color: white;
	top: 190px;
	left: 870px;
}

@media screen and (max-width: 475px) {
	.text-rian {
		left: 100px;
		font-size: 13px;
		top: 420px;
	}
}

.text-copyright {
	position: absolute;
	color: white;
	top: 300px;
	left: 630px;
	margin-top: 20px;
	margin-bottom: 20px;
}

@media screen and (max-width: 475px) {
	.text-copyright {
		left: 30%;
		top: 450px;
	}
}