@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*{
	
	padding: 0;
	margin: 0;
	font-family: montserrat;
}
#menu{
	width: auto;
	/height: auto;

}
.container{
	width: auto;
	margin: auto;
}

.page{
position: absolute;
width: 1349px;
height: 1708px;

background: #EB8034;
}

.card-1{
	position: absolute;
width: 1062px;
height: 308px;
left: 130px;
top: 50px;

background: #FFFBF8;
border-radius: 10px;
}

.text-judul{
	position: absolute;
	display: block;
width: 200px;
height: 103px;

left: 50px;
top: 0px;
font-size: 30px;
line-height: 100px;

color: #EB8034;

}

.text-deskripsi{
	position: absolute;
width: 498px;
height: 248px;
left: 50px;
top: 100px;
font-size: 18px;
line-height: 30px;
color: #EB8034;
}

.img-menu-1{
	 position: absolute;
width: 272px;
height: 272px;
left: 800px;
top: 10px;

}

.price-menu-1{
	position: absolute;
	display: inline-block;
width: 150px;
height: 67px;
left: 730px;
top: 180px;

background: #EB8034;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
border-radius: 10px;
}

.price{
	position: absolute;
width: -100px;
height: 103px;
left: 20px;
top: -20px;
font-size: 50px;
line-height: 108px;

color:  white;
}

.card-2{
	position: absolute;
width: 1062px;
height: 308px;
left: 130px;
top: 400px;

background: #FFFBF8;
border-radius: 10px;
}

.card-3{
	position: absolute;
width: 1062px;
height: 308px;
left: 130px;
top: 400px;

background: #FFFBF8;
border-radius: 10px;
}

.card-3{
	position: absolute;
width: 1062px;
height: 308px;
left: 130px;
top: 750px;

background: #FFFBF8;
border-radius: 10px;
}

.text-judul-3{
	position: absolute;
	display: block;
width: 400px;
height: 103px;

left: 50px;
top: 0px;
font-size: 30px;
line-height: 100px;

color: #EB8034;

}

.card-4{
	position: absolute;
width: 1062px;
height: 308px;
left: 130px;
top: 1100px;

background: #FFFBF8;
border-radius: 10px;
}

.btn-back{
	position: absolute;
width: 140px;
height: 41px;
left: 654px;
top: 1500px;

}









@media screen and (max-width: 576px){

	*{
	
	padding: 0;
	margin: 0;
	font-family: montserrat;
}
	#menu{
	width: auto;
	height: auto;

}
.container{
	width: 500px;
	margin: 1890;
}

.page{
margin: 0;
padding: 0;
position: absolute;
width:  480px;
height: 1860px;

background: #EB8034;
}

.card-1{
	position: absolute;
width: 350px;
height: 400px;
left: 70px;
top: 50px;

background: #FFFBF8;
border-radius: 10px;
}

.text-judul{
	position: absolute;
	display: block;
width: 200px;
height: 103px;

left: 50px;
top: 0px;
font-size: 20px;
line-height: 100px;

color: #EB8034;

}

.text-deskripsi{
	position: absolute;
width: 270px;
height: 248px;
left: 50px;
top: 220px;
/*text-align: center;*/
font-size: 13px;
line-height: 20px;
color: #EB8034;
}

.img-menu-1{
	 position: absolute;
width: auto;
height: 150px;
left: 100px;
top: 70px;

}

.price-menu-1{
	position: absolute;
	display: inline-block;
width: 120px;
height: 50px;
left: 190px;
top: 342px;

background: #EB8034;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
border-radius: 10px;
}

.price{
	position: absolute;
width: -100px;
height: 103px;
left: 30px;
top: -30px;
font-size: 30px;
line-height: 108px;

color:  white;
}

.card-2{
	position: absolute;
width: 350px;
height: 400px;
left: 70px;
top: 500px;

background: #FFFBF8;
border-radius: 10px;
}

.card-3{
	position: absolute;
width: 350px;
height: 400px;
left: 70px;
top: 950px;

background: #FFFBF8;
border-radius: 10px;
}

.text-judul-3{
	position: absolute;
	display: block;
width: 400px;
height: 103px;

left: 50px;
top: 0px;
font-size: 20px;
line-height: 100px;
color: #EB8034;

}

.card-4{
	position: absolute;
width: 350px;
height: 400px;
left: 70px;
top: 1400px;


background: #FFFBF8;
border-radius: 10px;
}

.btn-back{
	position: absolute;
width: 140px;
height: 41px;
left: 70px;
top: 1815px;

}

}